.confirmOuter {
    z-index: 99999;
}
.confirm {
    width: 600rem;
    height: 280rem;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}