
.app-Text {
    font-size: 1.5em;
    color: #2e7c74;
}
.h1s {
    font-size: 2em;
    color: #5edcd1;
    line-height: inherit;
}

.border {
    border: 1px solid #5edcd1;
    padding: 10px;
    margin: 10px;
}

.noBorder {
    border: none;
    padding: 0px;
    margin: 0px;
    color: #d62828;
}