.checkout {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #eee;
    padding: 20rem;
}
.Close {
    color: #000000;
    font-size: 24rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rem;
    font-size: 24rem;
    border-bottom: 1px solid #f2f2f2;
    height: 80rem;
}

.title {
    font-size: 24rem;
    font-weight: bold;
    margin: 0;
}
.mealsDesc {
    font-size: 20rem;
    background-color: #fff;
    border-radius: 20px;
    margin: 0;
    padding: 0 20rem;
}
.meals {
    max-height: 900rem;
    overflow: auto;
}
.footer {
    position: relative;
    height: 120rem;
    border-top: 1px dashed #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30rem;
    font-weight: bold;
}
.footer::before, .footer::after {
    position: absolute;
    background-color: #eee;
    content: '';
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    top: -10rem;
    left: -30rem;
}
.footer::after {
    left: auto;
    right: -30rem;
}

.totalPrice::before {
    content: '合计￥';
    font-size: 18rem;
    font-weight: normal;
    margin-right: 10px;
}