.checkoutItem {
    display: flex;
    align-items: center;
}

.mealImg {
    width: 160rem;
}

.mealImg img {
    width: 100%;
}

.desc {
    flex: auto;
    margin-left: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    font-size: 24rem;

}

.priceOuter {
    display: flex;
    justify-content: space-between;
}
.price {
    font-size: 24rem;
    font-weight: bold;
}
.price::before {
    content: '¥';
    font-size: 20rem;
}